@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url("../../assets/fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
  font-family: PlusJakartaSans-BoldItalic;
  src: url("../../assets/fonts/PlusJakartaSans-BoldItalic.ttf");
}
@font-face {
  font-family: PlusJakartaSans-ExtraBold;
  src: url(../../assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
  font-family: PlusJakartaSans-ExtraBoldItalic;
  src: url(../../assets/fonts/PlusJakartaSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: PlusJakartaSans-ExtraLight;
  src: url(../../assets/fonts/PlusJakartaSans-ExtraLight.ttf);
}
@font-face {
  font-family: PlusJakartaSans-ExtraLightItalic;
  src: url(../../assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf);
}
@font-face {
  font-family: PlusJakartaSans-Italic;
  src: url(../../assets/fonts/PlusJakartaSans-Italic.ttf);
}
@font-face {
  font-family: PlusJakartaSans-Light;
  src: url(../../assets/fonts/PlusJakartaSans-Light.ttf);
}
@font-face {
  font-family: PlusJakartaSans-LightItalic;
  src: url(../../assets/fonts/PlusJakartaSans-LightItalic.ttf);
}
@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url(../../assets/fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: PlusJakartaSans-MediumItalic;
  src: url(../../assets/fonts/PlusJakartaSans-MediumItalic.ttf);
}
@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../../assets/fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: PlusJakartaSans-SemiBold;
  src: url(../../assets/fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  font-family: PlusJakartaSans-SemiBoldItalic;
  src: url(../../assets/fonts/PlusJakartaSans-SemiBoldItalic.ttf);
}
